.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  padding: 4.5rem 0 5rem;

  background: var(--gray-700);

  > h1 {
    color: var(--blue);
    font-weight: 900;
    font-size: 4rem;

    > span {
      color: var(--purple-dark);
    }
  }

  > h1, img {
    cursor: pointer;
  }
}

